* {
  font-family: Bebas Neue;
}

pre{
  font-family: Bebas Neue;
font-size: 1rem;
}

body{
   padding-top: 70px; /* Adjust based on your navbar height */
    background-color: rgb(33, 37, 41);
    color: rgb(237, 232, 232);
    font-size: medium;

}

.bkColor{
  background-color: rgb(33, 37, 41);
    color: white;
}

/* HEADER */
.logo1{
  background-image: url("/Assets/src(images)/dhyan_logo.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.focus{
  background-color: aliceblue;
  
}


.padd{
  padding-top: 10px;
  padding-bottom: 10px;
}


/* FOOTER */
.textColor{
  color:#fd7e14;
}
.logo{
  background-image: url("/Assets/src(images)/dhyan_logo.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}