* {
  font-family: Bebas Neue;
}

pre {
  font-family: Bebas Neue;
  font-size: 1rem;
}

body {
  padding-top: 70px; /* Adjust based on your navbar height */
  background-color: rgb(33, 37, 41);
  color: rgb(237, 232, 232);
  font-size: medium;
}

.padd {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* HEADER */
.logo1 {
  background-image: url("/Assets/src(images)/dhyan_logo.png");
  background-size: cover;
  height: 50px;
  width: 50px;
}
.focus {
  background-color: rgb(1, 13, 23);
  color: white;
}

/* FOOTER */
.textColor {
  color: #fd7e14;
}
.logo {
  background-image: url("/Assets/src(images)/dhyan_logo.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

h1,h2,h3 {
  color: #ff6600;
  font-weight: 700;
}
.section {
  margin: 40px 0;
  padding: 25px 30px;
  border: 2px solid #ff6600;
  border-radius: 12px;
}
.btn-download {
  background-color: #ff6600;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-download:hover {
  background-color: #cc0000;
  color: #fff;
  text-decoration: none;
}
ul,ol {
  margin-left: 20px;
}

.section-image {
  border-radius: 12px;
  border: 1.5px solid #ff6600;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}


.section-content-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section-content-wrapper {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .section-content-text {
    flex: 1;
  }
  .section-content-image {
    flex: 1;
  }
}
